
h1 {
  font-family: 'Gloock', serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

.question-section{
  padding: 20px;
}

#footer{
  padding: 5% 15% 2px 15%;
  text-align: center;
  background-color: #5BC0F8;
}

.social-icon{
  margin: 20px 10px;
}

.dropdown-toggle{
  margin-right: 50px;
  color: #5BC0F8;
  font-family: 'Gloock', serif;
}

.dropdown-toggle:hover{
  background-color: #5BC0F8;
}

.form-check{
  padding: 5px;
}

.question-section{
  padding-right: 10px;
}
